/* navbar */

.nav-text{
    background: linear-gradient(91.33deg, #FFD44F 6.92%, #FF2F74 25.41%, #3CACAE 41.13%, #C26DBC 58.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
nav{
    background-color: #014647;
}
.login{
    background-color: #EEB5EB;
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.dropdown-menu{
   
 background-color: black;
}

/* top banner */
.banner{
    background-image: linear-gradient( #FF387A 76%,#780070 100%)
}



/* card */
.logo-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 80px;
}
.logo-container img{
    width: 100%;
}
.footer-address{
    display: flex;
    gap: 10px;
}
.footer-second{
    display: flex;
    
    align-items: center;
}
.payment-container{
    display: flex;
    gap: 20px;
    margin: 20px 80px;
}
.payment-container img{
    width: 50px;
}


